.calendar {
  margin: 20px 10%;
  height: 540px;
  background-color: white;
  border-radius: 15px;
  box-shadow: #808080b0 0 9px 20px 6px,
              #80808040 0 15px 20px 1px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.year {
  margin: auto;
  font-size: 25px;
}

table {
  margin: auto;
}
td {
  margin: 0;
  height: 70px;
  width: 140px;
  text-align: center;
}
th {
  padding: 10px;
}

                                            /*PSEUDO-CLASSES*/
td:hover {
  box-shadow: rgba(0,0,0,0.2) 0px 3px 20px 2px;
  transform: scale(1.2);
  transition-duration: 0.5s;
}
